.tipografia-Lucida-Sans {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.tipografia-impact {
    font-family: Impact,  Charcoal ,sans-serif;
}
.tipografia-arial {
    font-family: Arial, Gadget, sans-serif;
}